.input {
	margin-left: 0.5rem;
}

.input__input_group {
	display: flex;
    flex-direction: row;
}

.input__label {
	position: static;
	width: 16rem;
	height: 1rem;
	font-family: Ubuntu;
	font-size: 0.813rem;
	line-height: 1rem;
	color: #000000;
	margin-left: -0.5rem;
}

.input_group__text {
    display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.25rem 0.25rem 0.25rem 0.5rem;
	position: static;
	width: 16rem;
	height: 2rem;
	box-sizing: border-box;
	border-radius: 0.25rem;
	margin: 0.5rem 0rem;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 0.813rem;
	line-height: 1rem;
	color: #000000;
    background: #FFFFFF;
	border: 0.063rem solid #459DF5;
}

.input__search_group .input_group__text {
	padding-left: 2rem;
	padding-right: 2rem;
    margin-left: -0.5rem;
}

.input__input_group-prefix .input_group__text {
	padding-left: 1.5rem;
	padding-right: 2rem;
    margin-left: -0.5rem;
}

.input__input_group-dropdown,
.input__input_group-disabled,
.input__input_group-enabled {
    margin-left: -0.5rem;	
}

.input__input_group-disabled .input_group__text {
	background: #BAD8F5;
}

.input_group__icon-left {
	position: absolute;
	width: 1rem;
	height: 1rem;
	align-self: center;
	z-index: 1;
}

.input_group__icon-right {
	width: 1rem;
	height: 1rem;
	align-self: center;
	margin-left: -1.5rem;
}

.input_group__icon-left .icon {
	stroke: #459DF5;
	fill: #459DF5;
}

.input_group__icon-right .icon {
	stroke: #BAD8F5;
	fill: #BAD8F5;
}

.input__input_group-disabled .icon {
	stroke: #000000;
	fill: #000000;
}

.input_group__prefix {
	position: absolute;
	width: auto;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 0.813rem;
	line-height: 1rem;
	color: #000000;
	align-self: center;
	z-index: 1;
}

