.right_side_table__footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    position: static;
    width: 100%;
    height: 2.5rem; 
    background: #EBF0F5;
    align-self: stretch;
}

.right_side_table__footer-total {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 0.813rem;
    line-height: 1rem;
    margin-right: 0.5rem;
}
